@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: Lora, serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgb(240, 253, 255);
}

p {
  line-height: 1.6rem;
}

hr {
  visibility: hidden;
}

button {
  background: none;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: Lora, serif;
}

button:hover {
  background: rgb(240, 253, 255);
  color: slateblue;
}

.place-center {
  margin: auto;
  justify-content: center;
}

.round-borders {
  border-radius: 3em;
}

/*General*/

.header span {
  background-color: #ff27fe;
}

.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

/*Menu ja header*/

h1 {
  font-size: 4rem;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-bar {
  text-align: right;
  padding: 10px;
  margin: 10px;
}

.nav-bar a {
  text-decoration: none;
}

.intro,
.text {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  margin-left: 5px;
  filter: drop-shadow(30px 30px 30px slateblue);
}

.intro {
  align-self: right;
}

.anim {
  animation: exp 0.5s forwards;
}

@keyframes exp {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

.logo {
  margin: 10px;
  padding: 10px;
  font-weight: 700;
}

/*Menu ja header*/

/*Container*/

.flex-container {
  display: flex;
  padding: 10%;

  height: auto;
}

.img-container {
  width: 800px;
  max-height: 100vh;
  padding: 1rem;
}

.illustration-container {
  width: 30%;
  max-height: 400px;
  height: 30%;
  padding: 10%;
}

.img-container img {
  width: 100%;
  height: auto;
}

/*Container*/

.curved-line {
  position: absolute;
  fill: none;
  max-width: 800px;
  z-index: 1;
}

.curved-line.blue {
  stroke: slateblue;
}

.curved-line.white {
  stroke: white;
}

.nav-link {
  position: relative;
  padding-right: 1rem;
}

.underline {
  height: 5px;
  width: 0%;
  background-color: #ff27fe;
  border-radius: 2em;
}

.nav-link .underline {
  position: absolute;
  top: 100%;
  left: 0%;
}

.big-text {
  font-size: 5rem;
  margin-block-start: 4rem;
}

.medium-text {
  font-size: 3rem;
  margin-block-start: 3rem;
  padding: 2rem;
}

/*Footer*/

.footer-item {
  width: 80%;
  margin: 3rem 3rem 0rem 3rem;
}

.footer-item hr {
  margin-top: inherit;
}

.footer-item ul {
  list-style: none;
  padding-left: 0px;
}

/*Footer*/

.form-container {
  background-color: slateblue;
  color: white;
  border-radius: 5px;
  padding: 2rem;
  padding: 10%;
}

.input-container {
  outline: solid;
  padding: 1rem;
}

form {
  align-self: center;
}

.form input,
.form textarea {
  margin: 1rem 1rem 1rem 0rem;
  height: 1.5rem;
}

.form label {
  display: block;
}

.form textarea {
  width: 200px;
  height: 200px;
}

.form .col-2 {
  grid-template-columns: 0.5fr 1fr;
}

/*Media*/

@media only screen and (max-width: 900px) {
  .flex-container {
    flex-wrap: wrap;
  }
  h1,
  .big-text {
    font-size: 3rem;
  }

  .grid,
  .form .col-2 {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }

  .form .medium-text {
    margin-bottom: 0px;
  }

  .input-container.grid.col-2 {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  form {
    margin-block-start: 3rem;
  }

  hr {
    visibility: visible;
  }
}

@media only screen and (max-width: 650px) {
  .input-container.grid.col-2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .form input,
  .form textarea {
    margin: 1rem 1rem 1rem 1rem;
  }
}
