@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;700&display=swap');


@keyframes header {
    0%{color:lightcoral;}
    50%{color:magenta}
    100%{color:lightcoral;};
}


* {
    display: grid;
    font-family: 'Overpass Mono', monospace;
}

header {

    height: 100vh;
    place-items: center;

}

nav {

    grid-template-columns:min-content min-content min-content;
    place-content: center;
    grid-gap: 5em;
    position: sticky;
    top: 0;


}

nav div {

    background-color: rgb(231, 100, 100);
    padding: 10px;
    text-align: center;


}


h1 {


    font-size: 60pt;
    animation-name: header;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: lightcoral;
    padding: 1.4em;


}



section {

place-content: center;
height: 100vh;


}

h2 {

text-align: center;

}

p {
    width: 70vw;
    color: darkslateblue;
    line-height: 1.4em;
    font-size: 14pt;
    text-align: center;

}

.anfang {

    font-size: 24pt;
    font-weight:800;
    float: left;
}

.footer {

    height: 86vh;
    background-color: rgb(148, 148, 148);
    grid-template-columns:min-content min-content min-content;
    place-content: center;
    grid-gap: 5em;

}

.footerelement {

    padding: 10px;
    background-color:rgb(231, 100, 100)

}