

/*.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 16.6%;}
.col-2 {width: 33.3%;}
.col-3 {width: 49.9%;}
.col-4 {width: 66.6%;}
.col-5 {width: 83%;}
.col-6 {width: 100%;}

  [class*="col-"] {
      float: left;
      background-color: red;
      margin: 2px;
  }
*/

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
* {
    box-sizing: border-box;
    font-family: Rajdhani, sans-serif;
}

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;

  }

  [class*="item"]{

    background-color:white;
    margin: 2px;
    

  }

  .page-width{
      grid-column-start: 1;
      grid-column-end: 4;

  }


  .logo {
      max-width: 200px;
      min-width: 140px;
      height: auto;
  }

  .nav {
        float: right;
        padding-top: 100px;
        padding-right: 20px;
  }

  /*.nav-container {
      background-color: lightsteelblue;
  }
*/
  h1 {
      padding: 5em;
      text-align:center;
  }

 .large-padding {

    padding: 20px 20px 20px 20px;
  }


/*Oikeanpuoleinen teksti, vasemmalla kuva*/

  .r-main-container {
      grid-column-start: 3;
      grid-column-end: 4;
  }
/*Vasemmanpuoleinen teksti, vasemmalla kuva*/

.l-main-container {

    grid-column-start: 1;
    grid-column-end: 3;
}

  .image-container {
      background-color: transparent;
  }

  .image-container img {

    width: 100%;
    height: auto;
  }

[class*="section-"] {
    visibility: hidden;
}

  .slide {
      animation-name: slide;
      animation-duration: 2s;
      visibility: visible;

  }

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%)
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}


/* Mobiili: Keskittää sisällön ja muuttaa kolumnien määrän yhteeen*/

@media only screen and (max-width: 700px) {

    .grid-container {

        grid-template-columns: 1fr;
        place-items: center;
        grid-column-gap: 0px;
    
      }
      .l-main-container {

        grid-column-start: 1;
        grid-column-end: 2;
    }
    .r-main-container {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .page-width{

        grid-column-start: 1;
        grid-column-end: 2;
  
    }
    .image-container {
        background-color: transparent;
        padding-right: 0px;
        padding-left: 0px;



    }

}