

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
    box-sizing: border-box;
    font-family: Rajdhani, sans-serif;
    margin: 0;
 
}

.grid-container {

    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  
  }

a:hover {
  color: tomato;
  cursor:pointer;
}
a:active{
  color: tomato;
}

.em {

  text-decoration: underline 3px;
  background-color: transparent;
  text-decoration-color:tomato;
  text-underline-offset: 1px 3px;

}
/* Menu*/

.menu-container {

  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  position: sticky;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  max-height: 100px;
  transition: top 0.4s;
  z-index: 2;

}


.logo {

    position: relative;
    width: 100px;
    height: 100px;

  }

.logo img {

  width: 100%;
  height:auto;

}

.hamburger {

  display: none;

  
}

.nav-link {

        padding: 40px 20px 30px 10px;
        font-weight: 300;
        color: black;
        text-decoration: none;
  }

  .nav-container {

    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;


  }

  .nav-link:hover {

    color:tomato;

  }

.nav-path {

  grid-column-start: 1;
  grid-column-end: -1;
  background-color: white;
  font-size: 0.8em;
  padding: 5px 0px 5px 33px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: lightgrey;

}

.nav-path a {
  color: black;
  text-decoration: none;
  
}

#currentpage {
  color: tomato;
}

  /*Menu*/

  /*Pääotsikko*/

  .main-h {

    height: 100vh;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    place-items: center;
    color:tomato;


  }

h1 {
      padding: 50px;
      font-size: 5em;
      text-align:center;
      text-transform: capitalize;

  }

  :is(h1, h2, h3, h4) {
    font-family: Montserrat;
    font-weight: 900;
  }

 /*Pääotsikko*/

    /*Kuvat*/

.img-padding {

    padding: 20px 20px 20px 20px;
  }

img {

    width: 100%;
    height: auto;
  }

.img-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2.5em;
    text-shadow: 1px 1px 6px rgb(0, 0, 0);

    color: white;
  }

.img-container {
  grid-column-start: 2;
  grid-column-end: 5;
  max-width: 900px;
  text-align: center;
  position: relative;
  place-items: center;
  margin: auto auto 30vh auto;


}

/*Kuvat*

/*Sisältö*/
.text-container {
  margin: auto auto 30vh auto;
  grid-column-start: 2;
  grid-column-end: 5;
  padding: 20px 20px 20px 20px;
 

}

/*Sisältö*/

/*Footer*/

.footer-container {
  grid-column-start: 1;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  place-items: center;
  background-color: white;
  z-index: 1;
  padding-top: 50px;


}

.footer {
  padding: 10px;

}


.footer ul {
  list-style: none;
  padding-left: 0px;

}

.footer-text {
  font-size: 0.8em;
}

.copyright {

  font-size: 0.8em;
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: left;

}

/*Footer*/

/*Animaatiot*/

[class*="section-"] {

    visibility: hidden;

}

  .slide {
      animation-name: slide;
      animation-duration: 2s;
      visibility: visible;

  }

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(60%)
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}



/*Animaatiot*/

/* Mobiili: Keskittää sisällön ja muuttaa kolumnien määrän yhteeen*/

@media only screen and (max-width: 700px) {


    .grid-container {

      grid-template-columns: 1fr;
      
    }

    .img-padding {

      padding: 0px;

    }

    [class*="-container"] {

      grid-column-start: 1;
      grid-column-end: -1;

    }

    .nav-container {

      display: none;
   
    }


    .hamburger {

      display:block;
      background-color: transparent;
      border: 0;
      outline: none;
      font-size: 20px;
      
      padding: 5px 33px 5px 5px;
      justify-self: end;
 
    }

    .hamburger:hover {
      cursor:pointer;
      color:tomato;
    }

    .nav-container.show {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      background-color: white;
      grid-auto-flow: row;
      height: 100vh;
      align-content: start;

    }

    .nav-link {
      width: 100%;
      text-align: center;
      padding: 20px 0px 20px 0px;
    }

    .nav-link:active {

      background-color: tomato;
      color: white;
    }

    .nav-link:hover {

      background-color: tomato;
      color: white;

    }

    .main-h {
      font-size: 0.5em;
    }


        /*Footer*/

    .footer-container {

      grid-template-columns: 1fr;

    }

    .footer {

      margin-bottom: 10px;

    }

    .footer.logo {

      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .footer-text {

      text-align: center;

    }

    .copyright {
      justify-self: center;
    }
    
 

    

}
