@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;700&display=swap');


@keyframes header {
    0%{color:lightcoral;}
    50%{color:magenta}
    100%{color:lightcoral;};
}


* {

    font-family: 'Overpass Mono', monospace;
    box-sizing: border-box;

}


header {

    width: 80vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-right: 10vw;
    margin-left: 10vw;


}

h1 {
    max-width: 80vw;
    /*font-size: 60pt;*/
    animation-name: header;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: lightcoral;
    text-align: center;

}


nav {

    position: sticky;
    top: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 12pt;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);

}



.navitem {

    padding: 5px;

    /*background-color:rgb(231, 100, 100);*/

}


.logo {

    display: flex;
    max-width: 10vw;
    min-width: 100px;
    height: auto;
    overflow: hidden;
    float: left;

}

main {

    text-align: center;
    width: 90vw;
}


section {


    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 50vh;
    margin-bottom: 50vh;

}


p {

    color: darkslateblue;
    line-height: 1.4em;
    font-size: 16pt;

}



.group-btn {

    margin: 3px;
    border-style: solid;
    border-color: rgb(231, 100, 100);
    border-width: 1px;
    background-color: transparent;
}


.p-image {

    display: block;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
    max-width: 50vw;
    height: auto;
    overflow: hidden;

}

.anfang {

    font-size: 24pt;
    font-weight:800;

}


/*FOOTER*/

.red {
    background-color: rgb(231, 100, 100);
}

.l-footer {


    display: grid;
    float: left;
    grid-auto-flow: column;


}

.l-footer .footerelement {

    font-size: 12pt;
    min-width: 100px;
    max-width: 300px;
    height: auto;
  
 

}

.r-footer {

    display: grid;
    float: right;


}

.r-footer img {

    min-width: 100px;
    max-width: 200px;
    height: auto;

}

.footerelement ul {

    list-style-type: none;
}

@media only screen and (max-width: 700px) {

    .l-footer {
        grid-auto-flow: row;
        grid-row: 0% 100%;

    }
    .r-footer {

        grid-auto-flow: row;
    }
}